<table>
	<thead>
		<tr>
			<th>Code</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Item Price</th>
			<th>Total Price</th>
			<th></th>
			<th></th>
		</tr>

	</thead>
	<tbody>
		<tr *ngFor="let line of data.lines">
			<td>{{line.productCode}}</td>
			<td>{{line.description}}</td>
			<td>{{line.quantity}}</td>
			<td>{{line.itemPrice}}</td>
			<td>{{line.totalPrice}}</td>
			<td><button (click)="removeOne(line)">remove one</button></td>
			<td><button (click)="removeAll(line)">remove all</button></td>
		</tr>
	</tbody>
</table>
<div>
	<span>Total : </span>{{data.total}}
</div>

<div>
	<span>Discount : </span>{{data.discount}}
</div>

<button (click)="buy()">Buy</button>